/*!
 * Created with WebStorm.
 * User: remiel
 * Date: 13-10-30
 * Time: 下午9:46
 * To change this template use File | Settings | File Templates.
 */
a,
a:link {
  text-decoration: none;
}
input[type='radio'],
input[type='checkbox'] {
  margin-right: 4px;
}
textarea {
  resize: none;
}
.fn-tac {
  text-align: center;
}
.fn-tal {
  text-align: left;
}
.fn-tar {
  text-align: right;
}
.ico-01 {
  background: url("images/ico_01.png") no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 20px;
  height: 22px;
  margin-right: 8px;
  vertical-align: top;
}
html {
  background: url("images/bg_body.png") repeat;
}
body {
  padding-bottom: 50px;
}
.container {
  width: 980px;
  margin: auto;
}
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 18px;
  line-height: 38px;
  min-width: 76px;
  _width: 76px;
  padding: 0 20px;
  border: 1px solid #065795;
  border-radius: 5px;
  background: #1d7ac2;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  cursor: pointer;
  text-align: center;
}
.btn,
.btn:link {
  color: #fff;
}
.btn.disabled {
  background: #ddd;
  cursor: default;
  border-color: #a2a2a2;
}
.footer {
  text-align: center;
  margin-top: 24px;
}
.header {
  height: 89px;
  background: url("images/bg_header.png") repeat-x;
}
.header,
.header a {
  color: #fff;
}
#logo {
  height: 48px;
  width: 226px;
  display: block;
  margin-top: 21px;
}
.login-box {
  margin: 24px 8px 0 0;
  text-align: right;
}
.logout {
  font-size: 14px;
}
.login-info {
  margin-top: 12px;
}
.nav {
  height: 35px;
  background: #e8e8e8;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.nav .container {
  width: 964px;
  padding: 0 8px;
  line-height: 36px;
}
.nav-item {
  /*width:109px; */
  padding: 0 28px;
  line-height: 36px;
  text-align: center;
  float: left;
  color: #116098;
  font-size: 14px;
  font-weight: bold;
}
.nav .active {
  background: #777777;
  color: #fff;
}
.main {
  margin-top: 24px;
}
.main .container {
  width: 968px;
  padding: 6px 6px 0;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  background: #fff;
}
.main-hd {
  background: #e5e5e5;
  border-radius: 4px;
  line-height: 33px;
  padding-left: 14px;
  font-size: 16px;
  color: #5d5e5e;
  text-shadow: 0 0 1px #898989;
}
.main-bd {
  overflow: hidden;
}
.main-sidebar {
  width: 187px;
  float: left;
  border-right: 1px solid #cacaca;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}
.main-sidebar ul {
  margin-top: 6px;
}
.main-sidebar li a {
  display: block;
  width: 152px;
  line-height: 30px;
  padding-left: 28px;
  margin-bottom: 4px;
  background: #f2f2f2;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
.main-sidebar li a,
.main-sidebar li a:link {
  color: #5d5e5e;
}
.main-sidebar li a .ico {
  position: absolute;
  left: 16px;
  top: 12px;
  background: url(images/ico_03.png) no-repeat;
  width: 5px;
  height: 8px;
}
.main-sidebar .active a,
.main-sidebar .active a:link {
  background: #258cd1;
  color: #fff;
  /*border-color:#258cd1;*/
}
.main-sidebar .active .ico {
  background: url(images/ico_02.png) no-repeat;
}
.main-content {
  overflow: hidden;
  margin: 18px 17px 18px 211px;
  border: 1px solid #cacaca;
}
.main-content-hd {
  border-bottom: 1px solid #cacaca;
}
.main-content-bd table {
  margin: 28px 0;
  font-size: 14px;
}
.main-content-bd td {
  padding-bottom: 12px;
  line-height: 28px;
}
.main-content-bd .td-01 {
  width: 182px;
  padding-right: 16px;
  text-align: right;
  vertical-align: top;
}
.main-content-bd .td-02 {
  width: 428px;
}
.main-content-bd .td-inner {
  border: 1px solid #cacaca;
  overflow: hidden;
  padding: 0 4px;
}
.main-content-bd .td-inner .ipt {
  border: none;
  outline: 0;
  width: 100%;
}
.main-content-bd .td-bottom {
  padding-top: 40px;
}
.main-content-bd .class-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: -3px;
  *margin-right: -1px;
  width: 32%;
  text-align: center;
}
.main-content-bd .student-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 -3px 0 32px;
}
.main-content-bd .msg-sign-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 4px;
  *margin-right: 1px;
}
.main-content-ft {
  border-top: 1px solid #cacaca;
}
.main-content .btn {
  margin-left: 14px;
}
#msg-content {
  height: 72px;
  display: block;
}
.textarea-box {
  position: relative;
}
.textarea-box .msg-placeholder {
  position: absolute;
  top: 0;
  font-size: 100%;
  line-height: 1.5;
}
.textarea-box .ipt {
  text-indent: 7em;
}
#send-msg-container .main-content-hd {
  text-align: center;
}
#send-msg-container .main-content-hd a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: -3px;
  *margin-right: -6px;
  width: 100px;
  line-height: 29px;
  background: #ededed;
  color: #000;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6) inset, 1px 0 0 #cacaca, -1px -1px 0 #cacaca;
}
#send-msg-container .main-content-hd .active {
  background: #1d7ac2;
  box-shadow: 0 0 1px #065795;
  color: #fff;
}
#send-msg-calendar {
  height: 28px;
  width: 168px;
  text-align: center;
}
.send-msg-hour,
.send-msg-minute {
  width: 41px;
  height: 28px;
  text-align: center;
  margin-right: 6px;
}
.send-msg-hour {
  margin-left: 20px;
}
#history-msg-container {
  color: #5d5d5d;
  font-size: 14px;
}
#history-msg-container .main-content-hd {
  line-height: 38px;
  color: #000;
  padding-left: 12px;
}
#history-msg-container .main-content-ft {
  line-height: 38px;
  margin-top: -1px;
}
.history-msg-hd {
  background: #deecf9;
  line-height: 30px;
  padding: 0 62px 0 24px;
}
.history-msg-hd span {
  width: 33%;
}
.history-msg-bd {
  padding: 24px 26px;
  line-height: 24px;
  border-bottom: 1px solid #c8c8c8;
}
